body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    align-items: center;
}

.sectionOne{
    background-color: #2C2F33;
}

.sectionTwo{
    background-color: #7289DA;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


section h1{
    font-size: 100px;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
}